<!DOCTYPE html>
<html lang="en">

<head>
  <title>Calculate-three</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="angular-1.8.2/angular.js"></script>
  <script src="angular-1.8.2/angular-route.js"></script>
  <script src="app.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("navbar").style.padding = "10px 10px";
        document.getElementById("logo").style.fontSize = "25px";
      } else {
        document.getElementById("navbar").style.padding = "30px 10px";
        document.getElementById("logo").style.fontSize = "35px";
      }
    }
  </script>
  <div id="navbar">
    <a href="home.html" id="logo">CALCU-COMPANY</a>
    <div id="navbar-right">
     
      <a class="active" href="#home">Home</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>
</head>
<body ng-app="test" ng-controller="Controller-three">
  <div class="container-fluid">
    <div class="row" id="row_on">
      <div class="col-sm-12 " id="nnav">
        <a href="home.html">หน้าแรก</a>>
        <a href="calcu-one.html">โปรแกรมคำนวณกฎของโอห์ม</a>>
        <a href="calcu-two.html">โปรแกรมคำนวณตัวต้านทาน</a>>
        <a href="calcu-three.html">โปรแกรมคำนวณตัวเก็บประจุไฟฟ้า</a>
      </div>
      <div class="col-sm-12" id="proall">
        <h2 class="h2all">โปรแกรม​คำนวณ​ Capacitor series & parallel</h2>
        <p style="font-style: oblique, serif;width: 800px;color: white;font-size: 17px;">
          โปรแกรมคำนวนค่าตัวเก็บ​ประจุ​ไฟฟ้า​แบบอนุกรม​และแบบขนาน</p>

      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style='padding-top:60px'>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">สัญญาลักษณ์และการต่อวงจร</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!banana">เกี่ยวกับ</a>
              </li>
            </ul>
          </div>
          <div ng-view></div>
        </div>

        <div class="alert alert-primary" role="alert" style="margin-top: 20px;">
          ! ค่าตัว​เก็บ​ประจุคิดเป็นหน่วยเดียวกันในโปรแกรม​นี้
          เลือกหน่วยตัวเก็บ​ประจุ​</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="display: flex;">
      <div class="col-sm-2">
        <label>เลือกหน่วยตัวเก็บ​ประจุ​</label>
        <select ng-model="Select2" class="browser-default custom-select custom-select-lg mb-3">
          <option value="F">Farad</option>
          <option value="uF">microFarad</option>
          <option value="nF">nanoFarad</option>
          <option value="pF">picoFarad</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="form-control" style="width: 200px;margin-top:50px" ng-click="cal()">{{Select2}}</label>
      </div>
      <div class="col-sm-7">
        <table>
          <tr>
            <td>C1</td>
            <td>C2</td>
            <td>C3</td>
            <td>C4</td>
          </tr>
          <tr>
            <td> <input class="form-control" type="text" ng-model="c[0]"></td>
            <td> <input class="form-control" type="text" ng-model="c[1]"></td>
            <td> <input class="form-control" type="text" ng-model="c[2]"></td>
            <td> <input class="form-control" type="text" ng-model="c[3]"></td>
          </tr>
        </table>
        <div style="text-align: center;margin-top: 30px;">
          <button type="button" class="btn btn-primary" style="font-size: 20px;" ng-click="cal()">คำนวณ</button>
          <button type="button" class="btn btn-link" style="font-size: 20px;">คืนค่าใหม่</button>
        </div>
        <div style="padding-left: 180px;padding-top: 30px;">
          <div>ค่าตัวเก็บประจุแบบอนุกรม</div>
          <div style="display: flex;">
            <label class="form-control" style="width: 200px;">{{u}}</label>
            <label class="form-control" style="width: 80px;">{{Select2}}</label>
          </div>
          <div>ค่าตัวเก็บประจุแบบขนาน</div>
          <div style="display: flex;">
            <label class="form-control" style="width: 200px;">{{ty}}</label>
            <label class="form-control" style="width: 80px;">{{Select2}}</label>
          </div>
          <div>ตัวเก็บประจุทั้งหมด</div>
          <div style="display: flex;">
            <label class="form-control" style="width: 200px;">{{v}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 30px;">
  <div class="container-fluid" style=" height: 270px;padding-top: 10px;">
    <div class="row">
      <div class="col-sm-3" style="margin-left: 100px;">
        <h3>About me</h3>
        <p>I'am Programmer I love coding ,Nice to meet you </p>
      </div>
      <div class="col-sm-4">
        <h3>Do you like ? Share this !</h3>
        <i class="fa fa-google-plus-official" style="font-size:36px"></i>
        <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        <i class="fa fa-youtube-square" style="font-size:36px"></i>
        <p>© Thank you | 62503160008-7@mail.rmutk.ac.th </p>
      </div>
      <div class="col-sm-3">
        <h3>Subscribe to newsletter</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">massage</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
  </div>
</body>


</html>