<!DOCTYPE html>
<html lang="en">

<head>
  <title>Calculate-two</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="angular-1.8.2/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="app.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("navbar").style.padding = "10px 10px";
        document.getElementById("logo").style.fontSize = "25px";
      } else {
        document.getElementById("navbar").style.padding = "30px 10px";
        document.getElementById("logo").style.fontSize = "35px";
      }
    }
  </script>
  <div id="navbar">
    <a href="home.html" id="logo">CALCU-COMPANY </a>
    <div id="navbar-right">
    
      <a class="active" href="#home">Home</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>

</head>

<body ng-app="tap2" ng-controller="Controller">
  <div class="container-fluid">
    <div class="row" id="row_on">
      <div class="col-sm-12 " id="nnav">
        <a href="home.html">หน้าแรก</a>>
        <a href="calcu-one.html">โปรแกรมคำนวณกฎของโอห์ม</a>>
        <a href="calcu-two.html">โปรแกรมคำนวณตัวต้านทาน</a>>
        <a href="calcu-three.html">โปรแกรมคำนวณตัวเก็บประจุไฟฟ้า</a>
      </div>
      <div class="col-sm-12" id="proall">
        <h2 class="h2all">โปรแกรมคำนวณตัวต้านทาน</h2>
        <p style="color: white;font-size: 17px;">
          เครื่องคำนวณรหัสสีตัวต้านทานนี้ได้รับการออกแบบ<br>มาเพื่อค้นหาค่าความต้านทานและความคลาดเคลื่อนของตัวต้านทานแบบทะลุช่อง
        </p>

      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#!/">ตารางสีตัวต้านทาน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!to">เกี่ยวกับ</a>
            </li>
          </ul>
        </div>
        <div ng-view></div>
      </div>
    </div>
    <div class="alert alert-primary" role="alert" style="margin-top: 20px;">
      ให้รีเซ็ตเครื่องคำนวณหลังจากใช้งานทุกครั้งเพื่อแก้ปัญหาสำหรับการหาค่าการรวมของตัวแปรต่าง ๆ
    </div>
  </div>
  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col-sm-12"
        style="padding-left: 100px;padding-top: 20px;border: 1px outset black;margin-top: 50px;height: 600px;">
        <div>
          <p>เลือกแถบสี</p>
        </div>
        <div class="container" style="margin-top: 15px;">
          <div class="row">

            <div class="col-sm-9">
              <select id="box" ng-model="userSelect" ng-click="tet()">
                <option value="black">black</option>
                <option value="brown">brown</option>
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
                <option value="gray">gray</option>
                <option value="white">white</option>
              </select>



              <select id="box" ng-model="userSelect1" style="margin-left: 30px;" ng-click="tet1()">
                <option value="black">black</option>
                <option value="brown">brown</option>
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
                <option value="gray">gray</option>
                <option value="white">white</option>

              </select>


              <select id="box" ng-model="userSelect2" style="margin-left: 30px;" ng-click="tet2()">
                <option value="black">black</option>
                <option value="brown">brown</option>
                <option value="red">red</option>
                <option value="orange">orange</option>
                <option value="yellow">yellow</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
                <option value="gray">gray</option>
                <option value="white">white</option>

              </select>
              <select id="box" ng-model="userSelect3" style="margin-left: 30px;" ng-click="tet3()">
                <option value="brown">brown</option>
                <option value="red">red</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
                <option value="purple">purple</option>
                <option value="gray">gray</option>

                <option value="gold">gold</option>

              </select>
            </div>
            <div class="col-sm-8"
              style="display: flex;margin-top: 50px;border: 3px outset black;height: 220px;background-color: rgba(247, 244, 244, 0.877);">
              <div
                style="border: 1px outset black;height: 20px;width: 200px;margin-top: 50px;border-right: none;margin-top: 80px;">
              </div>
              <div style="border: 1px outset black;height: 160px; width: 300px;margin-top: 23px;display: flex;">
              </div>
              <div
                style="border: 1px outset black;height: 120px;width: 500px;display: flex;margin-top: 30px;border-left: none;border-right: none;">
                <div ng-class="userSelect"></div>
                <div ng-class="userSelect1" style="margin-left: 30px;"></div>
                <div ng-class="userSelect2" style="margin-left: 10px;"></div>
                <div ng-class="userSelect3" style="margin-left: 30px;"></div>

              </div>
              <div style="border: 1px outset black; height: 160px; width: 300px;margin-top: 20px;"></div>
              <div
                style="border: 1px outset black;height: 20px;width: 200px;margin-top: 50px;border-left: none;margin-top: 80px;">
              </div>
            </div>
            <div class="col-sm-3">
              <label id="tx">ค่าแถบสีที่ 1</label>
              <label id="txt">{{num[0]}}</label>
              <label id="tx">ค่าแถบสีที่ 2</label>
              <label id="txt">{{num[1]}}</label>
              <label id="tx">ค่าแถบสีที่ 3</label>
              <label id="txt">{{num[2]}}</label>
              <label id="tx">ค่าแถบสีที่ 4</label>
              <label id="txt">{{num[3]}}</label>
              <label id="tx">ผลรวมค่าตัวต้านทาน</label>
              <label id="txt">{{total}} <label>{{num[3]}}</label></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 30px;">
  <div class="container-fluid" style=" height: 270px;padding-top: 10px;">
    <div class="row">
      <div class="col-sm-3" style="margin-left: 100px;">
        <h3>About me</h3>
        <p>I'am Programmer I love coding ,Nice to meet you </p>
      </div>
      <div class="col-sm-4">
        <h3>Do you like ? Share this !</h3>
        <i class="fa fa-google-plus-official" style="font-size:36px"></i>
        <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        <i class="fa fa-youtube-square" style="font-size:36px"></i>
        <p>© Thank you | 62503160008-7@mail.rmutk.ac.th </p>
      </div>
      <div class="col-sm-3">
        <h3>Subscribe to newsletter</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">massage</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
  </div>
</body>


</html>